---
import HeroBackgroundImage from "assets/HeroBackgroundImage.png"
import { Image } from "astro:assets"
---

<header class="relative w-full">
  <nav class="fixed">testowa nawigacja</nav>
  <Image src={HeroBackgroundImage} alt="" class="w-full h-screen object-cover" />
  <div class="absolute top-80 left-24 before:content-[''] before:absolute before:h-72 before:w-[2px] before:-left-6 before:bg-white">
    <p class="font-secondary text-white text-xl">Lorem ipsum dolor sit amet</p>
    <h1 class="font-primary text-white text-6xl my-5 max-w-2xl font-bold leading-tight">
      Twoje chwile spokoju w zgiełku dnia.
    </h1>
    <button class="bg-primary py-5 px-20 text-button-dark font-medium">Zobacz ofertę</button>
  </div>
</header>
