---
import aboutus_photo from "assets/aboutus-photo.png"
---

<div class="w-full flex flex-col justify-center items-center">
  <div
    class="container flex flex-col md:flex-row gap-10 justify-between p-4 md:py-10 relative"
  >
    <div
      class="w-full max-w-xl bg-primary-light py-16 pl-12 pr-28 absolute left-0"
    >
      <p class="text-xl text-secondary-text leading-[130%] mb-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut odio sapien,
        congue a purus vitae, ultricies consequat nibh. Nulla facilisi.
        Vestibulum euismod cursus congue. Praesent placerat imperdiet magna et
        mollis. Integer urna dui, semper quis arcu et, placerat placerat velit.
        Cras in felis nec nisi dictum blandit eget ut nisl.
      </p>
      <p class="text-xl text-secondary-text leading-[130%] mb-12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut odio sapien,
        congue a purus vitae, ultricies consequat nibh. Nulla facilisi.
        Vestibulum euismod cursus congue. Praesent placerat imperdiet magna et
        mollis. Integer urna dui, semper quis arcu et, placerat placerat velit.
        Cras in felis nec nisi dictum blandit eget ut nisl.
      </p>
      <button class="bg-primary py-5 px-20 text-button-dark font-medium"
        >Czytaj więcej</button
      >
    </div>
    <h1
      class="text-5xl font-primary font-bold text-button-dark absolute right-0"
    >
      O nas
    </h1>
    <img src={aboutus_photo.src} alt="Zdjęcie kobiety która jest masowana" />
  </div>
</div>
