---
import aboutus_photo from "assets/aboutus-photo.png"
import { Image } from "astro:assets"
import { ROUTES } from "helpers/ROUTES"
---

<div
  class="w-full flex flex-col justify-center items-center mx-auto py-32"
>
  <div
    class="container w-full md:py-10 flex flex-col-reverse lg:flex-row items-center justify-center p-4"
  >
    <div
      class="w-full max-w-[548px] lg:max-w-xl bg-primary-light p-10 lg:py-16 lg:pl-12 lg:pr-28 left-0"
    >
      <p class="text-xl text-secondary-text leading-[130%] mb-5">
        Za naszymi drzwiami odkryjesz inny wymiar codzienności. Zatrzymujemy tu czas, by w każdym detalu wydobyć piękno. Używając energii dłoni, cudotwórczej mocy masażu, naturalnych składników i orientalnych aromatów, tworzymy symfonię dla Twojego ciała i duszy. Światło i muzyka dopełniają tego zaklęcia, a nasze profesjonalne zabiegi to esencja wiedzy kosmetologiczno-medycznej połączona z mądrością życiową.
      </p>
      <p class="text-xl text-secondary-text leading-[130%] mb-12">
        W każdym zabiegu kierujemy się głęboką wiedzą i intuicją, rozumiejąc indywidualne potrzeby każdego klienta. W "Beauty Essence" uczymy Cię, jak głęboko dbać o siebie i znaleźć wewnętrzne piękno. Dla ciała. Dla zmysłów. Dla duszy. Zapraszamy na niezwykłą podróż w głąb siebie.
      </p>
      <a href={ROUTES.aboutUs}>
        <button
        class="bg-primary py-4 md:py-5 px-16 md:px-20 text-button-dark font-medium text-xl- leading-[132.9%] border-primary border-2
         hover:bg-white hover:transition hover:duration-200 hover:ease-in-out"
        >Czytaj więcej</button
      >
      </a>

    </div>
    <div
      class="relative flex flex-col lg:-translate-x-24 lg:translate-y-16 items-center items-[unset]"
    >
      <h1
        class="text-8xl lg:text-9xl font-primary font-bold text-button-dark mb-12"
      >
        O nas
      </h1>
      <Image
        src={aboutus_photo}
        alt="Zdjęcie kobiety która jest masowana"
        class="lg:max-w-[548px]"
      />
      <div
        class="hidden lg:block absolute w-full max-w-sm before:h-full h-96 rounded-full bg-primary-light -z-10 -right-24 top-28"
      >
      </div>
    </div>
  </div>
</div>
