---
import aboutus_photo from "assets/aboutus-photo.png"
---

<div
  class="w-full flex flex-col justify-center items-center mx-auto py-10 lg:py-28"
>
  <div
    class="container w-full md:py-10 flex flex-col-reverse lg:flex-row items-center justify-center p-4"
  >
    <div
      class="w-full max-w-[548px] lg:max-w-xl bg-primary-light p-10 lg:py-16 lg:pl-12 lg:pr-28 left-0"
    >
      <p class="text-xl text-secondary-text leading-[130%] mb-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut odio sapien,
        congue a purus vitae, ultricies consequat nibh. Nulla facilisi.
        Vestibulum euismod cursus congue. Praesent placerat imperdiet magna et
        mollis. Integer urna dui, semper quis arcu et, placerat placerat velit.
        Cras in felis nec nisi dictum blandit eget ut nisl.
      </p>
      <p class="text-xl text-secondary-text leading-[130%] mb-12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut odio sapien,
        congue a purus vitae, ultricies consequat nibh. Nulla facilisi.
        Vestibulum euismod cursus congue. Praesent placerat imperdiet magna et
        mollis. Integer urna dui, semper quis arcu et, placerat placerat velit.
        Cras in felis nec nisi dictum blandit eget ut nisl.
      </p>
      <button class="bg-primary py-5 px-20 text-button-dark font-medium"
        >Czytaj więcej</button
      >
    </div>
    <div
      class="relative flex flex-col lg:-translate-x-24 lg:translate-y-16 items-center items-[unset]"
    >
      <h1
        class="text-8xl lg:text-9xl font-primary font-bold text-button-dark mb-12"
      >
        O nas
      </h1>
      <img
        src={aboutus_photo.src}
        alt="Zdjęcie kobiety która jest masowana"
        class="lg:max-w-[548px]"
      />
      <div
        class="hidden lg:block absolute w-full max-w-sm before:h-full h-96 rounded-full bg-primary-light -z-10 -right-24 top-28"
      >
      </div>
    </div>
  </div>
</div>
