---
import human_back_photo from "assets/photos/offer/human-back.png"
import { Image } from "astro:assets"
---

<div class="flex flex-col lg:flex-row justify-center gap-11 max-w-[1000px]">
    <Image src={human_back_photo} alt="" class=" max-w-[400px]" />
    <div class="pt-5">
        <h6 class="font-primary text-button-dark text-4xl font-bold mb-2">Variant One</h6>
        <p class="font-secondary text-button-dark text-base font-bold mb-2">Naturalny, holistyczny, uwielbiany przez stałych klientów</p>
        <p class="text-xl text-secondary-text leading-[130%] mb-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut odio sapien, congue a purus vitae, ultricies consequat nibh. Nulla facilisi. Vestibulum euismod cursus congue. Praesent placerat imperdiet magna et mollis. Integer urna dui, semper quis arcu et.
          </p>
          <p class="font-secondary text-button-dark text-2xl font-regulary">100 PLN - 300 PLN</p>
    </div>
</div>