---
import company_logo from "assets/company-logo-gold.svg"
---

<nav class="w-full fixed pt-12 flex justify-center gap-10 z-10">
  <ul class="flex gap-10 items-center">
    <a href="">
      <li
        class="font-detail text-white text-lg font-medium hover:scale-110 transition-transform"
      >
        O nas
      </li>
    </a>
    <a href="">
      <li
        class="font-detail text-white text-lg font-medium hover:scale-110 transition-transform"
      >
        Cennik
      </li>
    </a>
    <a href="">
      <li
        class="font-detail text-white text-lg font-medium hover:scale-110 transition-transform"
      >
        Galeria
      </li>
    </a>
  </ul>
  <a href="/">
    <img src={company_logo.src} alt="Beauty Essence Logo" />
  </a>

  <ul class="flex gap-10 items-center">
    <a href="">
      <li
        class="font-detail text-white text-lg font-medium hover:scale-110 transition-transform"
      >
        Galeria
      </li>
    </a>
    <a href="">
      <li
        class="font-detail text-white text-lg font-medium hover:scale-110 transition-transform"
      >
        Cennik
      </li>
    </a>
    <a href="" target="_blank">
      <li
        class="font-detail text-white text-lg font-medium hover:scale-110 transition-transform"
      >
        Zarezerwuj
      </li>
    </a>
  </ul>
</nav>
