---
import { ROUTES } from "helpers/ROUTES";

---

<section class="w-full flex justify-center items-center pb-48 pt-64">
      <div class="flex flex-col justify-center items-center">
        <h3 class="text-7xl font-primary font-bold text-button-dark mb-3 text-center">
          Vouchery
        </h3>
        <p class="text-secondary-text font-secondary text-xl font-medium my-8 px-10 md:px-0 text-center">
          Dziękujemy za zaufanie i zakup voucheru w Beauty Essence
        </p>
        <a href={ROUTES.home}
        class=" bg-primary px-10 py-4 hover:opacity-90 transition-opacity border-primary border-2
          hover:bg-white hover:transition hover:duration-200 hover:ease-in-out">
          Powrót
        </a>
      </div>
  </section>