---
import PricingCard from "./PricingCard.astro"

const CARDS_CONTENT = [
  {
    massage_relax: [
      {
        variant: "Masaż balijski",
        firstPrice: "219 zł",
        secondPrice: "259 zł"
      },
      {
        variant: "Masaż lomi lomi",
        firstPrice: "-",
        secondPrice: "-"
      },
      {
        variant: "Masaż olejkami aromatycznymi",
        firstPrice: "209 zł",
        secondPrice: "259 zł"
      },
      {
        variant: "Masaż z peelingiem",
        firstPrice: "219 zł",
        secondPrice: "259 zł"
      },
      {
        variant: "Masaż masaż górnych części ciała*",
        firstPrice: "139 zł*",
        secondPrice: "189 zł*"
      },
      {
        variant: "Refleksologia*",
        firstPrice: "139 zł*",
        secondPrice: "189 zł*"
      },
    ],
    massage_intensive: [
      {
        variant: "Masaż tajski",
        firstPrice: "199 zł",
        secondPrice: "249 zł"
      },
      {
        variant: "Masaż sportowo-leczniczy",
        firstPrice: "219 zł",
        secondPrice: "259 zł"
      },
      {
        variant: "Masaż Shiatsu",
        firstPrice: "219 zł",
        secondPrice: "259 zł"
      },
    ],
    massage_warming: [
      {
        variant: "Masaż stemplami ziołowymi",
        firstPrice: "239 zł",
        secondPrice: "279 zł"
      },
      {
        variant: "Masaż gorącymi kamieniami",
        firstPrice: "229 zł",
        secondPrice: "279 zł"
      },
      {
        variant: "Masaż świecą aromatyczną",
        firstPrice: "229 zł",
        secondPrice: "279 zł"
      },
    ],
    massage_rituals: [
      {
        variant: "Rytuał Orientalny",
        firstPrice: "239 zł",
        secondPrice: "279 zł"
      },
      {
        variant: "Rytuał Jedwabny",
        firstPrice: "229 zł",
        secondPrice: "279 zł"
      },
      {
        variant: "Rytuał Tytan",
        firstPrice: "229 zł",
        secondPrice: "279 zł"
      },
      {
        variant: "Rytuał Rajski Grapefruit",
        firstPrice: "229 zł",
        secondPrice: "279 zł"
      },
      {
        variant: "Rytuał Bursztynowy",
        firstPrice: "229 zł",
        secondPrice: "279 zł"
      },
    ]
  }
]
---
<section class="relative w-full flex justify-center items-center py-10 lg:py-28">
    <div class="md:py-10 flex flex-col justify-center items-center md:items-start mb-10 md:mb-[unset]">
      <div class="mb-12">
        <h3 class="text-7xl font-primary font-bold text-button-dark mb-3">
          Cennik
        </h3>
        <p class="text-secondary-text font-secondary text-xl font-medium">Sprawdź wycenę naszych usług</p>
      </div>
      <div class="flex flex-wrap justify-center lg:justify-start items-baseline gap-11 p-10 md:p-0 max-w-[1000px]">
        <PricingCard title="Masaż intensywny" variant={CARDS_CONTENT[0].massage_intensive} firstTimeVariant="60 min" secondTimeVariant="90 min" />
        <PricingCard title="Masaż rozgrzewający" variant={CARDS_CONTENT[0].massage_warming} firstTimeVariant="60 min" secondTimeVariant="90 min" />
        <PricingCard title="Masaż relakacyjny" variant={CARDS_CONTENT[0].massage_relax} firstTimeVariant="60 min" secondTimeVariant="90 min" />
        <PricingCard title="Rytuały SPA" variant={CARDS_CONTENT[0].massage_rituals} firstTimeVariant="60 min" secondTimeVariant="90 min" />
      </div>
    </div>
    <p class="absolute bottom-0 mb-10 font-secondary text-lg text-secondary-text font-medium text-center">* wybrane usługi są dostepne tylko w wariantach odpowiednio: 30 minut i 60 minut</p>
  </section>