---
---


<div>
    <h6 class="font-primary text-3xl text-button-dark font-bold pb-6">Masaż balijski</h6>
    <table class=" rounded-lg border-separate border-spacing-1">
        <thead>
            <tr>
                <th class="font-secondary text-lg text-secondary-text font-semibold py-3 px-4 bg-primary-light text-left md:w-[270px]">Dostępny wariant</th>
                <th class="font-secondary text-lg text-secondary-text font-semibold py-3 px-4 bg-primary-light">30 min</th>
                <th class="font-secondary text-lg text-secondary-text font-semibold py-3 px-4 bg-primary-light">60 min</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font-secondary text-lg text-secondary-text font-medium py-3 px-4 bg-primary-light">Wariant 1</td>
                <td class="font-secondary text-lg text-secondary-text font-medium py-3 px-4 bg-primary-light text-center">50 zł</td>
                <td class="font-secondary text-lg text-secondary-text font-medium py-3 px-4 bg-primary-light text-center">100 zł</td>
            </tr>
            <tr>
                <td class="font-secondary text-lg text-secondary-text font-medium py-3 px-4 bg-primary-light">Wariant 1</td>
                <td class="font-secondary text-lg text-secondary-text font-medium py-3 px-4 bg-primary-light text-center">50 zł</td>
                <td class="font-secondary text-lg text-secondary-text font-medium py-3 px-4 bg-primary-light text-center">100 zł</td>
            </tr>
            <tr>
                <td class="font-secondary text-lg text-secondary-text font-medium py-3 px-4 bg-primary-light">Wariant 1</td>
                <td class="font-secondary text-lg text-secondary-text font-medium py-3 px-4 bg-primary-light text-center">50 zł</td>
                <td class="font-secondary text-lg text-secondary-text font-medium py-3 px-4 bg-primary-light text-center">100 zł</td>
            </tr>
        </tbody>
    </table>
</div>