---
import facebook_icon from "assets/icons/FacebookIcon.svg"
import instagram_icon from "assets/icons/InstagramIcon.svg"
import twitter_icon from "assets/icons/TwitterIcon.svg"
---

<section class="relative w-full flex justify-center items-center lg:py-16">
  <div class="container md:flex md:gap-5 justify-center">
    <div
      class="bg-primary p-10 flex flex-col gap-5 text-secondary-text md:w-full max-w-[450px]"
    >
      <h1 class="text-5xl font-primary font-bold text-button-dark">Kontakt</h1>

      <p>W razie pytań, nie wachaj się pisać!</p>

      <div>
        <p>
          1487 Rocky Horse Carrefour 1487 Rocky
          <br />
           HorseArlington, TX 16819 United
        </p>
        <p>+8 520-150-001</p>
        <p>kontakt@beauty-essence.pl</p>
      </div>

      <div class="flex gap-2">
        <a href="https://facebook.com" target="_blank">
          <img src={facebook_icon.src} />
        </a>
        <a href="https://instagram.com" target="_blank">
          <img src={instagram_icon.src} />
        </a>
        <a href="https://twitter.com" target="_blank">
          <img src={twitter_icon.src} />
        </a>
      </div>
    </div>

    <form class="p-4 flex flex-col gap-2 md:w-full max-w-[400px]">
      <div class="flex flex-col gap-1">
        <label for="name" class="font-primary text-lg">Imię i nazwisko</label>
        <input
          id="name"
          type="text"
          placeholder="Jan Kowalski"
          class="border-2 border-primary px-2 py-1"
        />
      </div>

      <div class="flex flex-col gap-1">
        <label for="email" class="font-primary text-lg">Email</label>
        <input
          id="email"
          type="email"
          placeholder="twój@email.com"
          class="border-2 border-primary px-2 py-1"
        />
      </div>

      <div class="flex flex-col gap-1">
        <label for="phone" class="font-primary text-lg">Telefon</label>
        <input
          id="phone"
          type="text"
          placeholder="+48 555 333 222"
          class="border-2 border-primary px-2 py-1"
        />
      </div>

      <div class="flex flex-col gap-1">
        <label for="message" class="font-primary text-lg">Wiadomość</label>
        <textarea
          rows="5"
          id="message"
          placeholder="Tutaj napisz swoją wiadomość"
          class="border-2 border-primary px-2 py-1 min-h-[100px] max-h-[400px]"
        ></textarea>
      </div>

      <button
        type="submit"
        class="bg-primary font-primary self-end px-10 py-2 text-lg"
        >Wyślij</button
      >
    </form>
  </div>
</section>
