---
import logo_gold from "assets/logo-gold.svg"
---

<footer class="w-full bg-[#31392F] p-4 flex justify-center items-center">
  <div class="container">
    <img src={logo_gold.src} alt="">
    <h3 class="text-xl text-white font-primary">Twoje chwile spokoju w zgiełku dnia.</h3>
  </div>
</footer>