---
import { ROUTES } from "helpers/ROUTES"
---

<div
  class="w-full flex flex-col justify-center items-center mx-auto py-32"
  id="about"
>
<h4 class="text-4xl font-primary font-bold text-button-dark mb-2 mt-10">
  Regulamin sprzedaży
</h4>
  <div
    class="container w-full p-4 md:py-10"
  >
  <h4 class="text-3xl font-primary font-bold text-button-dark mb-2">
    I. POSTANOWIENIA OGÓLNE
  </h4>
  <p class="text-md text-secondary-text leading-[130%] mb-5">
    1. Sklep Internetowy dostępny pod adresem internetowym www.beauty-essence.pl prowadzony jest przez Beauty Essence Sp. z o.o. z siedzibą w Toruniu, ul. Most Pauliński 1/3, 87-100 Toruń, wpisaną do Rejestru Przedsiębiorców Krajowego Rejestru Sądowego prowadzonego przez Sąd Rejonowy w Toruniu pod nr KRS 0001045932, REGON: 525 782 795, NIP 956 238 56 13. <br>
    2. Regulamin skierowany jest zarówno do Klientów będących jak i niebędących Konsumentami, korzystających ze Sklepu Internetowego, Usług Elektronicznych lub zawierających Umowy Sprzedaży (z wyjątkiem pkt X Regulaminu, który skierowany jest wyłącznie do Klientów niebędących Konsumentami). <br>
    3. Akceptacja Regulaminu jest dobrowolna, ale konieczna w celu złożenia przez Klienta Zamówienia. <br>
    4. Informacje prezentowane w Sklepie Internetowym lub w przypadku składania Zamówień z wykorzystaniem innych środków porozumiewania się na odległość, wiadomość elektroniczna z potwierdzeniem treści proponowanej Umowy Sprzedaży, o której mowa w pkt III ust. 6 lit. a Regulaminu, stanowią zaproszenie do zawarcia umowy w rozumieniu art. 71 Kodeksu cywilnego, kierowane przez Sprzedawcę do Klientów, a nie ofertę w rozumieniu Kodeksu Cywilnego. <br>
    5. Ilekroć w dalszej części Regulaminu użyto niżej wymienionych zwrotów pisanych wielką literą, należy je rozumieć w podanym niżej znaczeniu, chyba że z kontekstu ich użycia wyraźnie wynika co innego: <br>
    a. CENA – określona w złotych polskich lub w innej walucie kwota wynagrodzenia brutto (uwzględniająca podatek) należnego Sprzedawcy tytułem przeniesienia własności Produktu na Klienta zgodnie z Umową Sprzedaży. Cena nie zawiera kosztów dostawy, chyba że warunki Promocji stosowanej przez Sklep Internetowy stanowią inaczej. <br>
    b. DZIEŃ ROBOCZY – jeden dzień od poniedziałku do piątku z wyłączeniem dni ustawowo wolnych od pracy. <br>
    c. KLIENT – (1) osoba fizyczna; albo działająca przez osobę umocowaną (2) osoba prawna; albo (3) jednostka organizacyjna nieposiadająca osobowości prawnej, której ustawa przyznaje zdolność prawną; posiadająca pełną zdolność do czynności prawnych. W przypadku gdy Klientem jest osoba fizyczna o ograniczonej zdolności do czynności prawnych, zobowiązuje się ona uzyskać prawnie skuteczną zgodę swojego przedstawiciela ustawowego na zawarcie Umowy Sprzedaży oraz okazać taką zgodę na każde żądanie Sprzedawcy, przy czym co do zasady Umowy Sprzedaży zawierane w ramach Sklepu Internetowego mają charakter umów powszechnie zawieranych w drobnych bieżących sprawach życia codziennego. <br>
    d. KODEKS CYWILNY – ustawa kodeks cywilny z dnia 23 kwietnia 1964 r. (Dz.U. z 2014 r., poz. 121 ze zm.). <br>
    e. KONSUMENT – osoba fizyczna dokonująca z przedsiębiorcą czynności prawnej niezwiązanej bezpośrednio z jej działalnością gospodarczą lub zawodową. <br>
    f. KOSZYK – usługa udostępniana każdemu Klientowi, który korzysta ze Sklepu Internetowego, polegająca na umożliwieniu mu złożenia Zamówienia jednego lub kilku Produktów, wpisania kodów rabatowych umożliwiających obniżenie Ceny na zasadach określonych odrębnymi umowami/regulaminami, wyświetlenia podsumowania Ceny poszczególnych Produktów i wszystkich Produktów łącznie (w tym ew. kosztów wysyłki). Koszyk gromadzi składane przez Klienta oferty zawarcia Umowy Sprzedaży, tj. w ramach jednego Zamówienia można złożyć więcej niż jedną ofertę zawarcia Umowy Sprzedaży. W celu zachowania możliwie wysokiej jakości usług świadczonych za pośrednictwem Sklepu Internetowego, Sprzedawca może wprowadzić maksymalny limit Produktów lub limit łącznej Ceny Produktów możliwych do dodania do Koszyka w ramach jednego Zamówienia. W przypadku przekroczenia tego limitu Klientowi zostanie wyświetlony komunikat z prośbą o kontakt ze Sprzedawcą w razie chęci zawarcia Umów Sprzedaży na większą ilość Produktów. <br>
    g. NEWSLETTER — Usługa Elektroniczna, która umożliwia wszystkim korzystającym z niej Klientom otrzymywanie od Sprzedawcy cyklicznych informacji w szczególności o Produktach, Sklepie Internetowym, w tym nowościach i promocjach, na podany przez Klienta adres e-mail lub numer telefonu, za wyraźną zgodą Klienta. Zasady świadczenia przez Sprzedawcę usług Newslettera określa odrębny regulamin. <br>
    h. PRODUKT – dostępna w Sklepie Internetowym rzecz ruchoma lub karta podarunkowa będąca przedmiotem Umowy Sprzedaży między Klientem a Sprzedawcą, za zapłatą Ceny. <br>
    i. USŁUGA – oferowana przez Sprzedawcę usługa masażu lub zabiegu. <br>
    j. PROMOCJE – szczególne warunki sprzedaży lub świadczenia usług, uregulowane na zasadach wyrażonych w ramach Sklepu Internetowego, proponowane przez Sprzedawcę w określonym czasie, z których Klient może skorzystać na zasadach tam określonych, jak np. obniżenie Ceny lub kosztów wysyłki. <br>
    k. REGULAMIN – niniejszy dokument określający zasady zawierania Umów Sprzedaży. Regulamin określa prawa i obowiązki Klienta i Sprzedawcy. W zakresie usług świadczonych drogą elektroniczną niniejszy Regulamin jest regulaminem, o którym mowa w art. 8 ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz.U. z 2002 r. Nr 144, poz. 1204 z późn. zm.). <br>
    l. SALON – sklep stacjonarny prowadzony przez Sprzedawcę. <br>
    m. SKLEP INTERNETOWY – platforma umożliwiająca składanie Zamówień przez Klienta, prowadzona przez Sprzedawcę, stanowiąca zespół połączonych ze sobą stron internetowych, dostępna pod adresem internetowym: www.beauty-essence.pl <br>
    n. SPRZEDAWCA – Beauty Essence Sp. z o.o. z siedzibą w Toruniu, ul. Most Pauliński 1/3, 87-100 Toruń, wpisaną do Rejestru Przedsiębiorców Krajowego Rejestru Sądowego prowadzonego przez Sąd Rejonowy w Toruniu pod nr KRS 0001045932, REGON: 525 782 795, NIP 956 238 56 13. <br>
    o.           TREŚĆ/TREŚCI – elementy tekstowe, graficzne lub multimedialne (np. informacje o Produktach, zdjęcia Produktów, filmy promocyjne, opisy, komentarze) w tym utwory w rozumieniu ustawy o prawie autorskim i prawach pokrewnych oraz wizerunki osób fizycznych, jakie są rozpowszechniane w ramach Sklepu Internetowego przez odpowiednio Sprzedawcę, kontrahentów Sprzedawcy, Klienta albo inną osobę korzystającą ze Sklepu Internetowego. <br>
    p.         UMOWA SPRZEDAŻY – umowa sprzedaży w rozumieniu przepisów Kodeksu cywilnego, dotycząca sprzedaży przez Sprzedawcę na rzecz Klienta Produktu za zapłatą Ceny powiększonej o ew. opłaty dodatkowe, w tym koszty wysyłki, której warunki określa w szczególności niniejszy Regulamin. Umowa Sprzedaży jest zawierana pomiędzy Klientem a Sprzedawcą z wykorzystaniem środków porozumiewania się na odległość, po akceptacji Zamówienia przez Sprzedawcę na zasadach określonych w niniejszym Regulaminie. Umowa Sprzedaży określa w szczególności Produkt, jego główne cechy, cenę, koszty wysyłki oraz inne istotne warunki. Każdy Produkt jest przedmiotem odrębnej Umowy Sprzedaży. Dotyczy to również sytuacji, gdy Sprzedawca w ramach funkcjonalności Sklepu Internetowego z obiektywnych (rzeczowo uzasadnionych) przyczyn uzależnia zawarcie lub treść Umowy Sprzedaży danego Produktu od zawarcia innej Umowy Sprzedaży, z uwagi na bezpośredni związek pomiędzy Produktami. Sprzedawca może zawrzeć Umowę Sprzedaży z Klientem niebędącym Konsumentem także w wyniku zawarcia porozumienia z pominięciem procedury określonej w niniejszym Regulaminie, co na żądanie którejkolwiek ze stron Umowy Sprzedaży zostanie potwierdzone w formie wiadomości e-mail. <br>
    q.          USŁUGA ELEKTRONICZNA – świadczenie usług drogą elektroniczną w rozumieniu ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz.U. z 2002 r. Nr 144, poz. 1204 z późn. zm.), przez Sprzedawcę na rzecz Klienta za pośrednictwem Sklepu Internetowego. W zakresie, w jakim usługi są świadczone przez podmioty współpracujące ze Sprzedawcą, odpowiednie postanowienia dotyczące zasad korzystania z tych usług znajdują się w regulaminach dotyczących świadczenia usług przez te podmioty. <br>
    r.         USTAWA O PRAWACH KONSUMENTA, USTAWA – ustawa z dnia 30 maja 2014 r. o prawach konsumenta (Dz.U. 2014 poz. 827 ze zm.). <br>
    s.          ZAMÓWIENIE – oświadczenie woli Klienta wyrażające bezpośrednią wolę zawarcia Umowy Sprzedaży na odległość składane z wykorzystaniem środków porozumiewania się na odległość, określające Produkt, co do którego Klient składa ofertę zawarcia Umowy Sprzedaży oraz dane Klienta konieczne dla ewentualnego zawarcia i wykonania Umowy Sprzedaży. Zamówienie każdego Produktu będzie traktowane jako niezależna oferta Klienta zawarcia Umowy Sprzedaży (ułatwienie techniczne). Dotyczy to również sytuacji, gdy Sprzedawca w ramach funkcjonalności Sklepu Internetowego z obiektywnych (rzeczowo uzasadnionych) przyczyn uzależnia zawarcie lub treść Umowy Sprzedaży danego Produktu od zawarcia innej Umowy Sprzedaży, z uwagi na bezpośredni związek pomiędzy Produktami. Zamówieniu może zostać nadany jeden numer, a wszystkie oferty będą procedowane równolegle. Akceptacja Zamówienia oznacza zawarcie Umowy Sprzedaży (patrz powyżej).
  </p>
  <h4 class="text-3xl font-primary font-bold text-button-dark mb-2">
    II. USŁUGI ELEKTRONICZNE W SKLEPIE INTERNETOWYM
  </h4>
  <p class="text-md text-secondary-text leading-[130%] mb-5">
    1.         Sprzedawca świadczy za pośrednictwem Sklepu Internetowego nieodpłatnie następujące Usługi Elektroniczne na rzecz Klientów: <br>
    a.     umożliwianie Klientom składania Zamówień oraz zawierania Umów Sprzedaży, na zasadach określonych w niniejszym Regulaminie; <br>
    b.     prezentowanie Klientom dopasowanych do ich zainteresowań treści reklamowych; <br>
    c.     umożliwienie Klientom korzystania z usług Koszyka; <br>
    d.     umożliwienie przeglądania Treści umieszczonych w ramach Sklepu Internetowego; <br>
    e.      Newsletter. <br>
    2.         Umowa Sprzedaży zostaje zawarta z chwilą wysłania na adres e-mail podany przez Klienta potwierdzenia przyjęcia przez Sprzedawcę zamówienia Klienta do realizacji. W przypadku potwierdzenia przyjęcia do realizacji części Zamówienia, Umowa sprzedaży zostaje zawarta, co do tej części. <br>
    3.         Korzystanie z Koszyka rozpoczyna się z momentem dodania przez Klienta pierwszego Produktu do Koszyka. <br>
    4.         Koszyk świadczony jest nieodpłatnie oraz ma charakter jednorazowy i ulega zakończeniu z chwilą złożenia Zamówienia za jego pośrednictwem albo z chwilą wcześniejszego zaprzestania składania Zamówienia za jego pośrednictwem przez Klienta. Sprzedawca ma możliwość wprowadzenia limitu Produktów lub limitu łącznej Ceny Produktów możliwych do dodania do Koszyka w ramach jednego Zamówienia. W przypadku przekroczenia określonego limitu Klientowi zostanie wyświetlony komunikat z prośbą o kontakt ze Sprzedawcą w razie chęci zawarcia Umów Sprzedaży na większą ilość Produktów. <br>
    5.         Klient zobowiązany jest w szczególności do: <br>
    a.         podawania w udostępnionych w ramach Sklepu Internetowego formularzach wyłącznie prawdziwych, aktualnych i wszystkich koniecznych danych Klienta; <br>
    b.         niezwłocznego aktualizowania danych, w tym danych osobowych, podanych przez Klienta Sprzedawcy w związku z zawarciem Umowy Sprzedaży, w szczególności w zakresie w jakim jest to konieczne dla prawidłowego ich wykonania. <br>
    c.          korzystania z usług i funkcjonalności udostępnianych przez Sprzedawcę w sposób niezakłócający funkcjonowania Sprzedawcy lub Sklepu Internetowego (za działanie zakłócające funkcjonowanie Sprzedawcy lub Sklepu Internetowego może być uznane w szczególności składanie Zamówień w sposób uzasadniający podejrzenie korzystania z narzędzi automatyzujących proces składania Zamówień, w szczególności botów, lub korzystanie z usług i funkcjonalności udostępnianych przez Sprzedawcę w sposób wskazujący na zamiar naruszenia postanowień Regulaminu lub przepisów prawa); <br>
    d.         korzystania z usług i funkcjonalności udostępnianych przez Sprzedawcę w sposób zgodny z przepisami prawa, postanowieniami Regulaminu, a także z przyjętymi w danym zakresie zwyczajami i zasadami współżycia społecznego; <br>
    e.         korzystania z usług i funkcjonalności udostępnianych przez Sprzedawcę w sposób nieuciążliwy dla pozostałych Klientów oraz dla Sprzedawcy; <br>
    f.           terminowej zapłaty Ceny i innych ustalonych przez Klienta i Sprzedawcę kosztów w pełnej wysokości; <br>
    g.         terminowego odbioru Produktów zamówionych przy wykorzystaniu sposobu dostawy i płatności za pobraniem; <br>
    h.         niedostarczania i nieprzekazywania w ramach Sklepu Internetowego Treści zabronionych prawem, w szczególności Treści naruszających majątkowe prawa autorskie osób trzecich albo ich dobra osobiste; <br>
    6.         Reklamacje związane ze świadczeniem Usług Elektronicznych można składać np.: <br>
    a.         pisemnie na adres: ul. Most Pauliński 1/3, 87-100 Toruń; <br>
    b.         w formie elektronicznej za pośrednictwem poczty elektronicznej na adres: recepcja@beauty-essence.pl <br>
    7.         Zaleca się podanie przez Klienta w opisie reklamacji: (1) informacji i okoliczności dotyczących przedmiotu reklamacji, w szczególności rodzaju i daty wystąpienia nieprawidłowości; (2) żądania Klienta oraz (3) danych kontaktowych składającego reklamację – ułatwi to i przyspieszy rozpatrzenie reklamacji przez Sprzedawcę. Wymogi podane w zdaniu poprzednim mają formę zalecenia i nie wpływają na skuteczność reklamacji złożonych z pominięciem zalecanego opisu reklamacji. <br>
    8.       Ustosunkowanie się do reklamacji przez Sprzedawcę następuje niezwłocznie, nie później niż w terminie 14 dni od dnia jej złożenia, zgodnie z art. 7a ust. 1 Ustawy, chyba, że z przepisów prawa lub odrębnych regulaminów wynika inny termin.
  </p>
  <h4 class="text-3xl font-primary font-bold text-button-dark mb-2">
    III. ZAWARCIE UMOWY SPRZEDAŻY LUB UMOWY O DOSTRACZENIE TREŚCI CYFROWYCH 
  </h4>
  <p class="text-md text-secondary-text leading-[130%] mb-5">
    1. W celu zakupu produktu oferowanego w Sklepie (zawarcia umowy sprzedaży za pośrednictwem Sklepu) należy wejść na stronę internetową Sklepu, a następnie dokonać wyboru produktu/produktów poprzez dodanie ich do koszyka. Kupujący po dodaniu do koszyka produktów zostanie przekierowany do Formularza Zamówienia. <br>
    2. W Formularzu Zamówienia konieczne jest podanie danych niezbędnych do realizacji zamówienia. W Formularzu Zamówienia Kupujący dokonuje wyboru sposobu dostawy zamówionych produktów oraz metody płatności za zamówienie. <br>
    3. Kupujący po uzupełnieniu Formularza Zamówienia w całości, najpóźniej w chwili wyrażenia przez Kupującego zawarcia umowy sprzedaży lub odpowiednio umowy o dostarczenie treści cyfrowych, zostanie poinformowany o łącznej cenie produktu z kosztami dostawy oraz innych kosztach, a gdy nie można ustalić wysokości tych opłat – o obowiązku ich uiszczenia. <br>
    4.	Warunkiem złożenia zamówienia jest akceptacja Regulaminu oraz podanie swoich danych osobowych niezbędnych do prawidłowej realizacji umowy sprzedaży produktu/ów lub odpowiednio umowy o dostarczenie treści cyfrowych. <br>
    5.	Proces składania zamówienia kończy kliknięcie w przycisk finalizujący zamówienie. <br>
    6.	Umowa sprzedaży w przypadku produktów fizycznych lub odpowiednio umowa o dostarczenie treści cyfrowych w przypadku produktów elektronicznych pomiędzy Kupującym a Sprzedawcą zostaje zawarta z chwilą potwierdzenia przyjęcia zamówienia do realizacji przez Sprzedawcę drogą korespondencji e-mail na adres wskazany przez Kupującego w formularzu zamówienia. Jeżeli przedmiotem zamówienia są jednocześnie produkty różnego rodzaju lub usługi, złożenie zamówienia prowadzi do zawarcia kilku umów określonego rodzaju odpowiadających przedmiotowi zamówienia. <br>
    7.	Umowa ma charakter jednorazowy, co oznacza, że Kupujący składając nowe zamówienie w Sklepie zmierza do zawarcia nowej umowy. <br>
    8.	Kupujący, który wybrał przy składaniu zamówienia płatność on-line, po kliknięciu w przycisk finalizujący zamówienie zostanie przekierowany do bramki płatności obsługiwanej przez zewnętrznego operatora płatności celem dokonania płatności za zamówienie. <br>
    9.	Kupujący, który wybrał płatność przelewem bankowym, po kliknięciu w przycisk finalizujący zamówienie zostanie przekierowany na stronę Sklepu z potwierdzeniem zamówienia oraz instrukcją dokonania płatności. Zapłata za zamówienie powinna nastąpić w ciągu 3 dni od zawarcia umowy.
  </p>
  <h4 class="text-3xl font-primary font-bold text-button-dark mb-2">
    IV. CENY. SPOSÓB I KOSZTY DOSTAWY ORAZ PŁATNOŚĆ
  </h4>
  <p class="text-md text-secondary-text leading-[130%] mb-5">
    1.	Podane w Sklepie ceny są cenami brutto, przy czym nie obejmują kosztów dostawy, chyba że co innego wyraźnie wynika z warunków promocji stosowanej przez Sklep. Koszt wysyłki naliczany jest odrębnie, na zamówieniu przed zawarciem umowy z Kupującym wskazana jest łączna cena za produkty lub/i treści cyfrowe wraz z opłatą za dostawę. <br>
    2.	Realizacja zamówienia obejmującego produkty fizyczne polega na skompletowaniu zamówionych produktów, zapakowaniu ich w celu dostawy do Kupującego oraz nadaniu przesyłki do Kupującego zgodnie z wybraną przez Kupującego formą dostawy zamówienia. <br>
    3.	Realizacja zamówienia obejmującego treści cyfrowe polega na przesłaniu ich w formacie wskazanym na stronie Sklepu na adres e-mail wskazany przez Kupującego w Formularzu Zamówienia. <br>
    4.	Zamówienie obejmujące produkty fizyczne uważa się za zrealizowane z chwilą nadania przesyłki do Kupującego (powierzenia przesyłki przewoźnikowi trudniącemu się przewozem). <br>
    5.	Zamówienie obejmujące treści cyfrowe uważa się za zrealizowane z chwilą przesłania wiadomości e-mail z treścią. <br>
    6.	Czas realizacji zamówienia wskazany jest zawsze przy każdym produkcie/treści cyfrowej. Zamówione produkty powinny zostać wydane Konsumentowi w terminie do 30 dni. <br>
    7.	Jeżeli Kupujący zamówił produkty ze wskazanym różnym czasem realizacji, wiążącym dla Sprzedawcy terminem realizacji całości zamówienia jest ten najdłuższy spośród wszystkich produktów wchodzących w skład zamówienia. <br>
    8.	Odbierając produkt Kupujący jest zobowiązany do sprawdzenia, czy przesyłka nie posiada uszkodzeń powstałych podczas transportu oraz czy jej zawartość jest zgodna z zamówieniem. Wraz z produktem dostarczane są dokumenty produktu (gwarancje – o ile Sprzedawca je przewiduje, instrukcje użytkowania itp.). <br>
    9.	Aktualnie dostępne sposobu dostawy zamówienia obejmującego produkty fizyczne prezentowane są Kupującemu na etapie składania zamówienia. Koszt dostawy zamówienia ponosi Kupujący, chyba że na stronie Sklepu wskazana zostanie wyraźnie inna informacja. Sprzedawca może zadecydować o podziale zamówienia na kilka oddzielnych przesyłek bez ponoszenia dodatkowych kosztów przez Kupującego. <br>
    10.	Aktualnie dostępne metody płatności za zamówienie prezentowane są Kupującemu na etapie składania zamówienia. <br>
    11.	Jeżeli Kupujący na etapie składania zamówienia poprosił o wystawienie faktury, zostanie ona doręczona Kupującemu na adres e-mail podany w formularzu zamówienia.
  </p>
  <h4 class="text-3xl font-primary font-bold text-button-dark mb-2">
    V. SPOSÓB I TERMIN WYKONANIA PRAWA ODSTĄPIENIA OD UMOWY
  </h4>
  <p class="text-md text-secondary-text leading-[130%] mb-5">
    1.	Konsument, który zawarł ze Sprzedawcą umowę ma prawo odstąpić od umowy bez podawania przyczyny i bez ponoszenia kosztów innych niż przewidziane przepisami prawa i wskazane w Regulaminie w terminie 14 dni. Do zachowania  terminu wystarczy wysłanie oświadczenia Sprzedawcy o odstąpieniu od umowy przed jego upływem. Uprawnienie to nie przysługuje w przypadkach opisanych w niniejszej sekcji poniżej w szczególności w przypadku umowy o dostarczenie treści cyfrowych, które nie są zapisane na nośniku materialnym, jeżeli spełnianie świadczenia rozpoczęło się za wyraźną zgodą konsumenta przed upływem terminu do odstąpienia od umowy i po poinformowaniu go przez Sprzedawcę o utracie prawa odstąpienia od umowy. <br>
    2.	Prawo do odstąpienia od umowy na zasadach opisanych w niniejszym paragrafie oraz wynikających z ustawy o prawach konsumenta przysługuje również osobie fizycznej zawierającej ze Sprzedawcą umowę bezpośrednio związaną z jej działalnością gospodarczą, gdy z treści tej umowy wynika, że nie posiada ona dla tej osoby charakteru zawodowego, wynikającego w szczególności z przedmiotu wykonywanej przez nią działalności gospodarczej, udostępnionego na podstawie przepisów o Centralnej Ewidencji i Informacji o Działalności Gospodarczej. W związku z tym, gdy w ramach niniejszego paragrafu mowa jest o uprawnieniach Konsumenta uprawnienia te dotyczą również osoby spełniającej powyższe kryteria. <br>
    3.	Prawo do odstąpienia od umowy nie przysługuje w odniesieniu do umów: <br>
      -	o świadczenie usług, jeżeli Sprzedawca wykonał w pełni usługę za wyraźną zgodą Konsumenta, który został poinformowany przed rozpoczęciem świadczenia, że po spełnieniu świadczenia przez Sprzedawcę utraci prawo odstąpienia od umowy, <br>
      -	o dostarczanie treści cyfrowych, które nie są zapisane na nośniku materialnym, jeżeli spełnianie świadczenia rozpoczęło się za wyraźną zgodą Konsumenta przed upływem terminu do odstąpienia od umowy i po poinformowaniu go przez Sprzedawcę o utracie prawa odstąpienia od umowy. <br>
    4.	Chwilą rozpoczęcia spełniania świadczenia w przypadku treści cyfrowych jest doręczenie Kupującemu wiadomości e-mail z instrukcją pobrania lub uzyskania dostępu do treści cyfrowych. <br>
    5.	Oświadczenie o odstąpieniu od umowy może zostać złożone pisemnie lub mailowo na adresy Sprzedawcy wskazane w niniejszym Regulaminie w sekcji Dane identyfikujące Sprzedawcę. <br>
    6.	Oświadczenie może być złożone (co oznacza że nie jest to wymagane) z wykorzystaniem wzoru formularza odstąpienia od umowy zawartego jako załącznik nr 2 do ustawy o prawach konsumenta lub wzoru formularza stanowiącego Załącznik nr 1 do Regulaminu. <br>
    7.	Konsument zobowiązany jest zwrócić produkt Sprzedawcy lub przekazać go osobie upoważnionej przez Sprzedawcę do odbioru niezwłocznie, jednak nie później niż 14 dni od dnia, w którym odstąpił od umowy, chyba że Sprzedawca zaproponował, że sam odbierze rzecz. Do zachowania terminu wystarczające jest odesłanie produktu przed jego upływem. Jeżeli Sprzedawca nie zaproponował, że sam odbierze rzecz od Konsumenta, może wstrzymać się ze zwrotem płatności otrzymanych od Konsumenta do chwili otrzymania rzeczy z powrotem lub dostarczenia przez Konsumenta dowodu jej odesłania, w zależności od tego, które zdarzenie nastąpi wcześniej. <br>
    8.	Konsument ponosi bezpośrednie koszty zwrotu rzeczy. <br>
    9.	W przypadku odstąpienia od umowy, Sprzedawca zwraca Konsumentowi wszystkie otrzymane od Konsumenta płatności, w tym najtańszy dostępny w Sklepie koszt dostarczenia produktów (jeśli koszt pokrył Konsument) niezwłocznie, a w każdym przypadku nie później niż 14 dni od dnia, w którym Sprzedawca został poinformowany o wykonaniu prawa odstąpienia od umowy. Zwrot płatności zostanie dokonany przy użyciu takich samych sposobów płatności, jakie zostały przez Konsumenta użyte w pierwotnej transakcji, chyba że Konsument wyraźnie zgodził się na inne rozwiązanie. W każdym przypadku Konsument nie poniesie żadnych opłat w związku z formą zwrotu płatności. <br>
    10.	Konsument ponosi odpowiedzialność za zmniejszenie wartości produktu będące wynikiem korzystania z produktu w sposób wykraczający poza konieczny do stwierdzenia charakteru, cech i funkcjonowania produktu.
  </p>
  <h4 class="text-3xl font-primary font-bold text-button-dark mb-2">
    VI. PROCEDURA REKLAMACJI. ODPOWIEDZIALNOŚĆ ZA WADY
  </h4>
  <p class="text-md text-secondary-text leading-[130%] mb-5">
    1.	Na Sprzedawcy ciąży prawny obowiązek dostarczenia Kupującemu produktu oraz treści cyfrowej wolnej od wad. <br>
    2.	Sprzedawca jest odpowiedzialny względem Konsumenta, jeżeli sprzedany produkt lub treść cyfrowa ma wadę fizyczną lub prawną (rękojmia za wady). <br>
    3.	Odpowiedzialność względem Kupującego niebędącego Konsumentem z tytułu rękojmi za wady zostaje wyłączona. <br>
    4.	Jeśli Konsument stwierdzi wadę produktu lub treści cyfrowej powinien poinformować o tym Sprzedawcę, określając jednocześnie swoje roszczenia lub składając oświadczenie stosownej treści. <br>
    5.	Konsument może kontaktować się ze Sprzedawcą w celu złożenia reklamacji zarówno pocztą tradycyjną, jak również pocztą elektroniczną. <br>
    6.	Sprzedawca ustosunkuje się do składanej przez Konsumenta reklamacji w ciągu 14 dni od dnia doręczenia mu reklamacji za pomocą takiego środka komunikacji, przy wykorzystaniu którego reklamacja została złożona. <br>
    7.	Przepisy w zakresie rękojmi Sprzedawcy za wady rzeczy sprzedanej dotyczące Konsumentów, znajdują zastosowanie również do osoby fizycznej zawierającej ze Sprzedawcą umowę bezpośrednio związaną z jej działalnością gospodarczą, gdy z treści tej umowy wynika, że nie posiada ona dla tej osoby charakteru zawodowego, wynikającego w szczególności z przedmiotu wykonywanej przez nią działalności gospodarczej, udostępnionego na podstawie przepisów o Centralnej Ewidencji i Informacji o Działalności Gospodarczej. <br>
  </p>
  <h4 class="text-3xl font-primary font-bold text-button-dark mb-2">
    VII. DANE OSOBOWE
  </h4>
  <p class="text-md text-secondary-text leading-[130%] mb-5">
    1.	Sprzedawca jest jednocześnie administratorem danych osobowych Kupującego („Administrator”). Możesz skontaktować się z Administratorem drogą korespondencji e-mail wysyłając e-mail na adres RECEPCJA@BEAUTY-ESSENCE.PL <br>
    2.	Dane osobowe Kupujących będą przetwarzane w celu: <br>
    &sdot; zawarcia i wykonywania pomiędzy Kupującym a Administratorem umowy, na warunkach określonych w Regulaminie, w tym w szczególności realizacji zamówienia, rozpatrywania reklamacji, jak również w celach kontaktowych i informacyjnych – na podstawie art. 6 ust. 1 lit. b) RODO, tj. przetwarzanie jest niezbędne do wykonywania tej umowy lub do podjęcia działań na żądanie Kupującego, przed zawarciem umowy; <br>
    &sdot; dokonania rozliczeń podatkowych i prowadzenia dokumentacji księgowej − na podstawie art. 6 ust. 1 lit. c) RODO, tj. przetwarzanie danych jest niezbędne dla wypełniania obowiązków prawnych ciążących na Administratorze wynikających z przepisów prawa podatkowego oraz z przepisów o rachunkowości; <br>
    &sdot; ustalenia, dochodzenia lub obrony przed ewentualnymi roszczeniami pomiędzy Kupującym a Administratorem – na podstawie art. 6 ust. 1 lit. f) RODO, tj. na podstawie prawnie uzasadnionego interesu realizowanego przez Administratora, którym jest możliwość dochodzenia roszczeń. <br>
    3.	Podanie danych osobowych przez Kupującego jest dobrowolne, przy czym podanie danych osobowych w zakresie: imię, nazwisko, telefon, adres e-mail, dane adresowe, w wypadku Kupujących będących Konsumentami, a niebędących Konsumentami: nazwa firmy oraz numeru NIP, jest niezbędne do zawarcia i wykonywania umowy pomiędzy Kupującym a Administratorem. Niepodanie danych skutkuje niemożliwością zawarcia i wykonywania umowy. <br>
    4.	Administrator nie będzie podejmować wobec Kupującego decyzji w sposób zautomatyzowany, w tym również w następstwie profilowania. <br>
    5.	Dane osobowe Kupujących mogą być ujawniane następującym podmiotom: pracownikom i współpracownikom Administratora, dostawcom usług IT, hostingodawcom, podmiotom świadczącym usługi doradcze, prawnicze oraz dostawcom produktów. <br>
    6.	Z uwagi na korzystanie z usług systemu MailChimp, w przypadku zapisu na Newslettera dane Kupujących mogą być przekazywane do Stanów Zjednoczonych Ameryki (USA) w związku z ich przechowywaniem na amerykańskich serwerach. Dostawca systemu MailChimp przystąpił do programu Privacy Shield i w ten sposób gwarantuje odpowiedni poziom ochrony danych osobowych wymagany przez przepisy europejskie. <br>
    7.	Dane osobowe Kupujących mogą zostać udostępnione podmiotom i organom upoważnionym do przetwarzania tych danych na podstawie przepisów prawa. <br>
    8.	Dane będą przetwarzane przez okres niezbędny do realizacji celów, w których dane są przetwarzane bądź do czasu wniesienia sprzeciwu (jeśli podstawą przetwarzania jest prawnie uzasadniony interes Administratora) – w zależności, które ze zdarzeń wystąpi wcześniej. Później Administrator będzie je przechowywać do momentu przedawnienia ewentualnych roszczeń lub do momentu wygaśnięcia obowiązku przechowywania danych wynikającego z przepisów prawa (np. prawa podatkowego) – w zależności, które ze zdarzeń nastąpi później. <br>
    9.	Kupującemu przysługuje prawo dostępu do swoich danych osobowych oraz prawo żądania ich sprostowania, ich usunięcia lub ograniczenia ich przetwarzania. <br>
    10.	Kupującemu przysługuje prawo do przenoszenia danych osobowych, tj. do otrzymania od Administratora danych osobowych, które dostarczył Administratorowi, w ustrukturyzowanym, powszechnie używanym formacie nadającym się do odczytu maszynowego. Kupujący może żądać od Administratora przesłania tych danych innemu administratorowi. <br>
    11.	W zakresie, w jakim podstawą przetwarzania danych osobowych Kupującego jest przesłanka prawnie uzasadnionego interesu Administratora, Kupującemu przysługuje prawo wniesienia sprzeciwu wobec przetwarzania swoich danych osobowych. W celu skorzystania z powyższych praw należy skontaktować się z Administratorem. <br>
    12.	Kupującemu przysługuje również prawo wniesienia skargi do organu nadzorczego zajmującego się ochroną danych osobowych (Prezesa Urzędu Ochrony Danych Osobowych), jeśli sądzi, że przetwarzanie danych narusza RODO. <br>
  </p>
  <h4 class="text-3xl font-primary font-bold text-button-dark mb-2">
    VIII. MOŻLIWOŚĆ SKORZYSTANIA PRZEZ KONSUMENTA Z POZASĄDOWYCH SPOSOBÓW ROZPATRYWANIA REKLAMACJI I DOCHODZENIA ROSZCZEŃ ORAZ ZASADY DO TYCH PROCEDUR 
  </h4>
  <p class="text-md text-secondary-text leading-[130%] mb-5">
    1.	Zgodnie z rozporządzeniem Parlamentu Europejskiego i Rady (UE) nr 524/2013 z dnia 21 maja 2013 r. w sprawie internetowego systemu rozstrzygania sporów konsumenckich Konsument ma możliwość złożenia skargi za pośrednictwem platformy ODR pod adresem https://webgate.ec.europa.eu/odr/main/?event=main.home.show <br>
    2.	Platforma ODR to platforma internetowego systemu rozstrzygania sporów pomiędzy konsumentami i przedsiębiorcami na szczeblu unijnym, która stanowi interaktywną i wielojęzyczną stronę internetową z punktem kompleksowej obsługi dla konsumentów i przedsiębiorców dążących do pozasądowego rozstrzygnięcia sporu dotyczącego zobowiązań umownych wynikających z internetowej umowy sprzedaży lub umowy o świadczenie usług. <br>
    3.	Konsument posiada możliwość skorzystania z pozasądowych sposobów rozpatrywania reklamacji i dochodzenia roszczeń, na przykład poprzez złożenie wniosku o rozstrzygnięcie sporu do stałego polubownego sądu konsumenckiego lub złożenie wniosku w sprawie pozasądowego rozwiązania sporu do wojewódzkiego inspektora Inspekcji Handlowej.
  </p>
  <h4 class="text-3xl font-primary font-bold text-button-dark mb-2">
    IX. POSTANOWIENIA KOŃCOWE 
  </h4>
  <p class="text-md text-secondary-text leading-[130%] mb-5">
    1. Regulamin obowiązuje od dni a 24.10.2023 <br>
    2. Umowy zawierane przez Sprzedawcę zawierane są w języku polskim. <br>
    3. Utrwalenie, zabezpieczenie i udostępnienie istotnych postanowień zawieranej Umowy o Świadczenie Usług Drogą Elektroniczną następuje poprzez przesłanie wiadomości e-mail na adres e-mail podany przez Klienta. <br>
    4. Utrwalenie, zabezpieczenie, udostępnienie oraz potwierdzenie Klientowi istotnych postanowień Umowy Sprzedaży następuje poprzez przesłanie Klientowi wiadomości e-mail z potwierdzeniem złożenia Zamówienia (trwały nośnik). Treść Umowy Sprzedaży jest dodatkowo utrwalona i zabezpieczona w systemie informatycznym Sklepu Internetowego. Po zawarciu Umowy Sprzedaży, Sprzedawca udostępnia Klientowi dowód zakupu w formie elektronicznej lub wraz z przesyłką zawierającą Produkt. Do przesyłki może być również dołączona specyfikacja Zamówienia. W przypadku zażądania przez Klienta wystawienia faktury VAT, Klient wyraża zgodę, aby faktura VAT została przesłana na podany przez niego adres e-mail. Sprzedawca może wprowadzić techniczne sposoby uwierzytelniania Klienta przed pobraniem przez niego dowodu zakupu lub faktury VAT. <br>
    5. Sprzedawca zapewnia środki techniczne i organizacyjne odpowiednie do stopnia zagrożenia bezpieczeństwa świadczonych funkcjonalności. Korzystanie z Usług Elektronicznych wiąże się z typowymi zagrożeniami dotyczącymi przekazywania danych poprzez Internet, takimi jak ich rozpowszechnienie, utrata lub uzyskiwanie do nich dostępu przez osoby nieuprawnione. <br>
    6. Treść Regulaminu jest dostępna dla Klientów bezpłatnie pod następującym adresem URL thaothai.pl/sklep/regulamin, gdzie Klienci mogą w każdym czasie przeglądać, a także sporządzić jego wydruk. <br>
    7. Sprzedawca informuje, że korzystanie ze Sklepu Internetowego za pośrednictwem przeglądarki internetowej, w tym składanie Zamówienia, a także nawiązywanie połączenia telefonicznego ze Sprzedawcą, może być związane z koniecznością poniesienia kosztów połączenia z siecią Internet (opłata za przesyłanie danych) lub kosztów połączenia telefonicznego, zgodnie z pakietem taryfowym dostawcy usług, z którego korzysta Klient. <br>
    8. W sprawach nieuregulowanych w niniejszym Regulaminie mają zastosowanie powszechnie obowiązujące przepisy prawa polskiego, w szczególności: Kodeksu Cywilnego; ustawy o świadczeniu usług drogą elektroniczną z dnia 18 lipca 2002 r. (Dz.U. 2002 nr 144, poz. 1204 ze zm.); przepisy ustawy o prawach konsumenta z dnia 30 maja 2014 r. (Dz.U. 2014 r. poz. 827 ze zm.); oraz inne właściwe przepisy powszechnie obowiązującego prawa. <br>
    9. Wybór prawa polskiego na podstawie niniejszego Regulaminu nie pozbawia Konsumenta ochrony przyznanej mu na podstawie przepisów, których nie można wyłączyć w drodze umowy pomiędzy Sprzedawcą a Konsumentem, na mocy prawa, które zgodnie z właściwymi regulacjami byłoby właściwe w przypadku braku wyboru. <br><br>
    Załącznik nr 1  do Regulaminu  <br><br>
    WZÓR FORMULARZA ODSTĄPIENIA OD UMOWY <br><br>
    (formularz ten należy wypełnić i odesłać tylko w przypadku chęci odstąpienia od umowy) <br><br>
    •	Adresat: <br>
    Beauty Essence Sp. z o.o. <br>
    ul. Most Pauliński 1/3 <br>
    87-100 Toruń <br>
    •	Ja/My(*) niniejszym informuję/informujemy(*) o moim/naszym odstąpieniu od umowy sprzedaży następujących rzeczy(*)/o świadczenie następującej usługi(*) <br>
    •	Data zawarcia umowy(*)/odbioru(*) <br>
    •	Numer Zamówienia (jeżeli dotyczy; tylko fakultatywnie) <br>
    •	Imię i nazwisko konsumenta(-ów) <br>
    •	Adres konsumenta(-ów) <br>
    •	Podpis konsumenta(-ów) (tylko jeżeli formularz jest przesyłany w wersji papierowej) <br>
    •	Data <br><br>
    (*) Niepotrzebne skreślić

  </p>
  </div>
</div>
