---
import Footer from "components/Footer/Footer.astro"
import Navigation from "components/Navigation/Navigation"
import "@fontsource/cormorant-garamond"
import "@fontsource/jost"
import Preloader from "components/Preloader/Preloader"
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Za naszymi drzwiami odkryjesz inny wymiar codzienności. Zatrzymujemy tu czas, by w każdym detalu wydobyć piękno. Używając energii dłoni, cudotwórczej mocy masażu, naturalnych składników i orientalnych aromatów, tworzymy symfonię dla Twojego ciała i duszy. Światło i muzyka dopełniają tego zaklęcia, a nasze profesjonalne zabiegi to esencja wiedzy połączona z mądrością życiową. W każdym zabiegu kierujemy się głęboką wiedzą i intuicją, rozumiejąc indywidualne potrzeby każdego klienta. W Beauty Essence uczymy Cię, jak głęboko dbać o siebie i znaleźć wewnętrzne piękno. Dla ciała. Dla zmysłów. Dla duszy. Zapraszamy na niezwykłą podróż w głąb siebie."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Beauty Essence - Twoje chwile spokoju w zgiełku dnia.</title>
    <!-- Google Tag Manager -->
    <script>
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : ""
        j.async = true
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, "script", "dataLayer", "GTM-ML7MH2M3")
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-ML7MH2M3"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Preloader client:only="react" />
    <Navigation client:only="react" />
    <slot />
    <Footer />
  </body>
</html>

<style>
  * {
    scroll-behavior: smooth;
  }
</style>
