---
import Footer from "components/Footer/Footer.astro"
import Navigation from "components/Navigation/Navigation"
import "@fontsource/cormorant-garamond"
import "@fontsource/jost"
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Beauty Essence - Twoje chwile spokoju
    w zgiełku dnia." />
    <meta name="viewport" content="width=device-width" />
    <title>Beauty Essence - Twoje chwile spokoju
      w zgiełku dnia.</title>
  </head>
  <body>
    <Navigation client:only="react" />
    <slot />
    <Footer />
  </body>
</html>

<style>
  * {
    scroll-behavior: smooth;
  }
</style>
